<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
  integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="../../public/css/style.css" />
<title>About Us</title>
<style>
  * { margin: 0; padding: 0; } .main { width: 100% !important; margin: 0;
  padding: 0; } .about_main { display: flex; justify-content: center;
  align-items: center; margin-top: 150px; } .about_content {} .img_content img {
  height: 300px; width: 300px; margin-right: 100px; } .navlinks { display: flex;
  justify-content: space-between; } .colors { color: green; }
</style>